<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/issueInfo.css" />
  </head>
  <body>
    <!-- <h1>This is issue-Info page</h1> -->
    <main>
      <section class="parent-container">
        <button type="button" class="btn"><a href="/issue-tracker/form">create Issue</a></button>
        <form action="/issue-tracker/search" method="get">
          <!-- <input type="text" name="query" placeholder="Search here..."> --> <input type="text" name="query" id="search" placeholder="search by title" />
          <button type="submit" id="search-btn">Search</button>
      </form>
        <% if(projectDetails){%>
          <div ><span class="authorName"><%=projectDetails.author%></span></div>
        <%}%>
       
      </section>
      <section class="issue-container">
        <!-- dynam-ically user created issue will be added here. -->
        <% issues.forEach((issue)=>{ %>
          <div class="container template">
            <div class="title"><h1><%=issue.title%></h1></div>
            <div class="description"><h1>description:</h1><%=issue.description%></div>
            <div class="author"><h1>author:</h1> <%=issue.issueCreator%></div>
            <div class="labels"><h1>labels:</h1> <%=issue.labels%></div>
          </div>
          <br>


        <%})%>
      </section>
    </main>
  </body>
</html>
